
.item-container{
    /* display:flex; */
    /* margin-bottom: 1rem; */
}

.item__img{
    height:30px;
    
}

.button-container__add,
.button-container__remove,
.button-container__reset{
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}