.card {
    /* max-width: 300px; */
    max-width:500px;
    height:auto;
    /* margin: 1rem auto; */
    margin-bottom: 1rem;
    /* border-style: outset; */
    text-align: center;
    
  }
  
  .product__img {
    /* display: flex; */
    /* margin:auto; */
    width: 100%;
  }

 